@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    color: azure;
    font-family: "Josefin Sans", sans-serif;
    /* background: url("./images/back.jpg") ; */
    min-height: 425px;
    height: 100vh;
    background-position: center;
}

#btn01{
    margin: 10px;
    padding: 10px;
    height: max-content;
}

button{
    min-height: 30px;
    min-width: 100px;
    background-color: #0f76c5;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}


.header{
    text-align: right;
}

.main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.heroImg{
    margin-top: 50px;
    height: 170px;
    width: 280px;
}

.herocontent{
    color: #d3fbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    font-size: medium;
    background-color: #000000;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 40px;
}
.para1{
    color: rgb(89, 253, 253);
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1.5;
}
.para2{
    line-height: 1.2;
}

#getbtn{
    font-weight: 540;
    font-size: medium;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
}
